* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #f4f6fb;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAIN CONTAINER */
.about-container {
  background: white;
  padding: 30px;
  border-radius: 18px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

/* SOCIETY IMAGE */
.society-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 14px;
  margin-bottom: 20px;
}

/* TEXT */
h1 {
  margin: 10px 0;
  font-size: 22px;
}

.about-text {
  font-size: 14px;
  color: #555;
  margin-bottom: 25px;
}

/* BUTTON */
.login-btn {
  width: 100%;
  padding: 12px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
}

.login-btn:hover {
  background: #4338ca;
}